h1{
    font-size: 25px;
    color: black;
}
.bank-title{
    text-align: center;
}
.submit-area{ 
    margin-top: 50px;
    box-shadow: 3px 5px 9px gray;
    padding: 80px;
    border-radius: 10px;
}
body{
    padding: 100px;

}
#transection-area{
    display: none;
}
.deposit{
background-color: rgb(72, 72, 168);

}
.withdraw{
    background-color: lightsalmon;
    
    
}
.balance{
    background-color: orange;

}
.status{
    margin:0 20px;
    color: white;
    padding: 20px;
    border-radius: 20px;
}